@page
@model VinylVaultWeb.Pages.AboutUsModel
@{
    <div class="container">
        <h2 class="text-center mt-5">Welcome to the AboutUs page</h2>
        <p class="text-center">This is a common page anyone can see it even not logged in users.</p>
    </div>
}
